<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<title>个人中心-我的资料</title>
<head th:include="/user/include :: header"></head>
<body>
	<div th:include="/user/include :: topWrap" ></div>
	<div class="data">
		<div class="content">
			<div class="tit">个人中心</div>
			<div class="cont">
				<div class="lt">
					<ul>
						<li><a class="select" href="#"><div class="ic ic1"></div><span>我的资料</span></a></li>
						<li><a href="#"><div class="ic ic2"></div><span>我的赛事</span></a></li>
						<li><a href="#"><div class="ic ic3"></div><span>我的竞猜</span></a></li>
						<li><a href="#"><div class="ic ic4"></div><span>兑换商城</span></a></li>
						<li><a href="#"><div class="ic ic5"></div><span>货币兑换</span></a></li>
						<li><a href="#"><div class="ic ic6"></div><span>消费记录</span></a></li>
						<li><a href="#"><div class="ic ic7"></div><span>个人荣誉</span></a></li>
						<li><a href="#"><div class="ic ic8"></div><span>商城订单</span></a></li>
						<li><a href="#"><div class="ic ic9"></div><span>我的战队</span></a></li>				
					</ul>
				</div>
				<div class="rt">
					<div class="detail" id="block1" style="display: none;">
						<img class="timg" src="images/person_avant.png" />
						<p class="name"><em>昵称：</em></p>
						<p><em>性别：</em>  </p>
						<p class="age"><em>年龄：</em>  岁</p>
						<p class="address"><em>所在地：</em>北京市望京soho</p>
						<p class="signature"><em>签名：</em>能躺能Carry，鱼塘选手，畅游无阻</p>
						<p class="editor" id="editor" >编辑</p>
					</div>
					<div class="detail" id="block2">
						<img class="timg" src="images/person_avant.png" />
						<p class="name"><em>昵称：</em><input class="w155" type="text" placeholder="请输入昵称" th:value="${UserInfo.userName}" name="userName" /></p>
						<div class="sex clearfix">
							<em>性别：</em><form action=""> 
					        <input type="radio" name="sex" value="1" th:field="${UserInfo.sex}" />男  
					        <input type="radio" name="sex" value="0" th:field="${UserInfo.sex}" />女   
					        </form>  
				        </div>
						<p class="age"><em>年龄：<input class="w40" type="text" th:value="${UserInfo.age}" />岁</em></p>
						<p class="address"><em>所在地：</em><input class="w155" type="text" placeholder="请输入所在地" /></p>
						<p class="signature"><em>签名：<input class="w155" type="text" placeholder="请输入签名" th:value="${UserInfo.signature}" name="signature" /></em></p>
						<p class="editor" id="save">保存</p>
					</div>
					<div class="line"></div>
					<div class="bind">
						<div class="ln"><em>绑定手机：<span class="cl-fff">176****2201</span></em><div class="btns">修改手机</div></div>
						<div class="ln"><em>绑定邮箱：未绑定</em><div class="btns">立即绑定</div></div>
					</div>
					<div class="line"></div>
					<div class="up-img">
						<p>精选照片：</p>
						<div class="nr clearfix">
							<div class="list left">
								<div class="img"><img src="images/person_photo.png" /><div class="ic"><img src="images/person_close.png" /></div></div>
							</div>
							<a href="javascript:;" class="file left">
							    <input type="file" name="" id="" />
							</a>
						</div>	
						<div class="save">保存</div>					
					</div>
					<div class="game">
						<p>绑定游戏账号</p>
						<div class="account">
							<div class="ry">
								<div class="info">
									<div class="tit">王者荣耀</div>
									<p>AMSsss</p>
									<p>微信126区</p>
									<p>荣耀王者</p>
									<div class="set"></div>
								</div>
							</div>
							<div class="qs">
								<div class="info">
									<div class="tit">绝地求生</div>
									<div class="chain"></div>									
								</div>
								<div class="pro">点击绑定账号</div>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	
	<div th:include="/user/include :: botwrap"></div>

	<div th:include="/user/include :: footer"></div>
	
<script>
	//编辑
	$("#save").on("click",function(){
		$("#block2").fadeOut(300);
		setTimeout(function() {
			$("#block1").fadeIn();
		}, 300);
	})
	$("#editor").on("click",function(){
		$("#block1").fadeOut(300);
		setTimeout(function() {
			$("#block2").fadeIn();
		}, 300);
	})
</script>
</body>
</html>