<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人中心-我的赛事</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/personal.css">
	<link rel="stylesheet" href="/css/zyx_forecast.css">
	<script src="/js/jquery.1.11.3.min.js"></script>
	<script src="/js/bootstrap.min.js" ></script></head>
	<script>
window.onload = function(){
	$(".lt li a").each(function(){
		$(this).removeAttr('class');
	});
	$(".lt li a").eq(0).attr("class","select");
}
</script>
<body>
<div class="topWrap">
	<div th:include="/include :: topWrap" ></div>
</div>
<div class="data">
	<div class="content">
		<div class="tit">个人中心</div>
		<div class="cont">
		<div th:replace="/include :: ltc" ></div>
			<!-- <div class="lt">
				<ul>
					<li><a href="/user/index"><div class="ic ic1"></div><span>我的资料</span></a></li>
						<li><a href="/user/myMatch"  class="select"><div class="ic ic2"></div><span>我的赛事</span></a></li>
						<li><a href="/user/BetOrder"><div class="ic ic3"></div><span>我的竞猜</span></a></li>
						<li><a href="/user/ConvertDiamondToGold"><div class="ic ic5"></div><span>货币兑换</span></a></li>
						<li><a href="/user/PersonalWealth"><div class="ic ic6"></div><span>消费记录</span></a></li>
						<li><a href="/user/UserHonor"><div class="ic ic7"></div><span>个人荣誉</span></a></li>
						<li><a  href="/user/myWarTeam"><div class="ic ic9"></div><span>我的战队</span></a></li>
				</ul>
			</div> -->
			<div class="event my_match">
				<div class="table_head overflow_hide color-glod">
					<div class="left fl">
						<label for="match1" class="active">进行中的比赛</label>
					<!-- 	<label for="match2">往期比赛</label> -->
					</div>
					<!-- <div class="right fr">
						<label class="active"><span>王者荣耀</span></label>
						<label><span>绝地求生</span></label>
					</div> -->
				</div>
	
					<div class="historyTable color-glod">
                        <div class="table_box show">
                            <div class="table_list"  id="list_content">
                            
                            </div>
                            </div>
                     </div>       
                            
				<div class="z_pager">
					<ul id="pageContainer"></ul>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<div class="botwrap">
	<div th:include="/include :: botwrap"></div>
</div>
<textarea id="itemTemplate"  style="display:none;">
	{{each result}}
	<div class="list_item_content">
                                    <div class="list_item">
                                        <div class="left">
                                            <span>{{$value.matchName}}</span>
                                        </div>
                                        <div class="leftBorder center text-center">
                                            <span class="leftP font14"><i>{{$value.leftName}}</i><img src="{{$value.rightPic}}"  onerror="this.src='/images/redteam.png;this.onerror=null'" ></span>
                                            <span class="score font16"><i>1</i>:<b>2</b></span>
                                            <span class="rightP font14"><img  src="{{$value.rightPic}}" onerror="this.src='/images/blueteam.png;this.onerror=null'"><i>{{$value.rightName}}</i></span>

                                        </div>
                                        <div class="orand rightd">
                                            提交结果(12:00)
                                        </div>
                                    </div>
                                 
                                </div>
	{{/each}}
	</textarea>
<script  src="/vendor/sea/sea.js"></script>
<script src="/scripts/config/seajs-config.js"></script>
<script type="text/javascript">
	seajs.use('/scripts/controller/user/myMatch');
</script>
<script type="text/javascript" src="/js/jquery.select.js"></script>
<script type="text/javascript">
	$(".table_head  .left label").click(function(){
		var ind=$(this).index();
		$(this).addClass("active").siblings().removeClass("active");
		$(".historyTable .table_box ").eq(ind).addClass("show").siblings().removeClass("show");

	})
	$(".table_head .right label").click(function(){
		$(this).addClass("active").siblings().removeClass("active");
	});
	$(function(){
		$('select.select').select();
	});
</script>
</body>
</html>