<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人中心-我的战队</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/personal.css">
	<link rel="stylesheet" href="/css/zyx_forecast.css">
	<script src="/js/jquery.1.11.3.min.js"></script>
	<script src="/js/bootstrap.min.js" ></script>
</head>
<body>
<div class="topWrap">
	<div th:include="/include :: topWrap" ></div>
</div>
<div class="data">
	<div class="content">
		<div class="tit">个人中心</div>
		<div class="cont">
			<div class="lt">
				<ul>
				<li><a href="/user/index"><div class="ic ic1"></div><span>我的资料</span></a></li>
						<li><a href="/user/myMatch"><div class="ic ic2"></div><span>我的赛事</span></a></li>
						<li><a href="/user/BetOrder"><div class="ic ic3"></div><span>我的竞猜</span></a></li>
						<li><a href="/user/ConvertDiamondToGold"><div class="ic ic5"></div><span>货币兑换</span></a></li>
						<li><a href="/user/PersonalWealth"><div class="ic ic6"></div><span>消费记录</span></a></li>
						<li><a href="/user/UserHonor"><div class="ic ic7"></div><span>个人荣誉</span></a></li>
						<li><a  href="/user/myWarTeam" class="select"><div class="ic ic9"></div><span>我的战队</span></a></li>
				</ul>
			</div>
			<div class="record">
				<div class="list" id="competitionList">

				</div>
				<div class="z_pager">
					<ul id="pageContainer"></ul>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<div class="botwrap">
	<div th:include="/include :: botwrap"></div>
</div>
<div style="display: none;">
	<!-- 战队信息模板 -->
	<textarea id="competitionList_template">
  		<div class="list my">
						<div class="block1">
							<img src="images/myteam_img.png">
							<p>有你就赢</p>
						</div>
						<div class="block2">
							<p class="color-fff">战队宣言战队宣言战队宣言战队宣言战队宣言战队宣言战队宣言。</p>
							<div class="info"><span>王者荣耀</span><span>微信区</span><span>10/20</span></div>
						</div>
						<div id="exitzdd" class="zd-btn">退出战队</div>
					</div>
  	</textarea>
</div>
<script  src="/vendor/sea/sea.js"></script>
<script src="/scripts/config/seajs-config.js"></script>
<script type="text/javascript">
	seajs.use('/scripts/controller/user/myWarTeam');
</script>
<script type="text/javascript" src="/js/jquery.select.js"></script>
<script type="text/javascript">
	$(function(){
		$('select.select').select();
	});
</script>
</body>
</html>