<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人中心-我的战队</title>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/personal.css">
	<link rel="stylesheet" href="/css/zyx_forecast.css">
	<script src="/js/jquery.1.11.3.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="topWrap">
	<div th:include="/include :: topWrap" ></div>
</div>
<div class="data">
	<div class="content">
		<div class="tit">个人中心</div>
		<div class="cont">
			<div class="lt">
				<ul>
					<li><a href="/user/index"><div class="ic ic1"></div><span>我的资料</span></a></li>
					<li><a href="/user/myMatch"><div class="ic ic2"></div><span>我的赛事</span></a></li>
					<li><a href="/user/BetOrder" ><div class="ic ic3"></div><span>我的竞猜</span></a></li>
					<li><a href="#"><div class="ic ic4"></div><span>兑换商城</span></a></li>
					<li><a href="/user/ConvertDiamondToGold"><div class="ic ic5"></div><span>货币兑换</span></a></li>
					<li><a href="/user/PersonalWealth" class="select"><div class="ic ic6"></div><span>消费记录</span></a></li>
					<li><a href="/user/UserHonor"><div class="ic ic7"></div><span>个人荣誉</span></a></li>
					<li><a  href="/user/myWarTeam"><div class="ic ic9"></div><span>我的战队</span></a></li>
				</ul>
			</div>
			<div class="team">
				<!--创建战队-->
				<div class="dialog" style="display: none;">
					<div class="contuwrap">
						<div class="pubclose">
							<img src="/images/closeico.png" onclick="closeWin('dialog')">
						</div>
						<div class="cont">

							<div class="upimg">
								<span>上传战队图片</span>
								<a href="javascript:;" class="file right">
									<input type="file" name="" id="">
								</a>
							</div>
							<div class="info1">
								<p class="clearfix"><span>所属游戏</span><em>王者荣耀</em></p>
								<p class="clearfix"><span>游戏区服</span>
									<select class="right">
										<option value="volvo">必选</option>
										<option value="saab">Saab</option>
										<option value="mercedes">Mercedes</option>
										<option value="audi">Audi</option>
									</select>
								</p>
								<p class="clearfix"><span>战队名称</span><input type="text" placeholder="最多6个字且不支持符号"></p>
								<p class="clearfix bor-botttom11"><span>战队宣言</span><input type="text" placeholder="最多25字"></p>
							</div>
							<div class="info1">
								<p class="clearfix"><span>真实姓名</span><input type="text" placeholder="请输入真实姓名"></p>
								<p class="clearfix"><span>身份证号</span><input type="text" placeholder="请输入身份证号"></p>
								<p class="clearfix"><span>验证手机号</span><input type="text" placeholder="请输入手机号"></p>
								<p class="clearfix"><span>输入验证码 </span><span class="access">获取</span><input type="text" placeholder="请输入验证码"></p>
								<div class="craat-btn">创建战队</div>
								<div class="agreement">创建战队即代表同意<em>《创建战队协议》</em></div>
							</div>
						</div>
					</div>
				</div>
				<div class="table_head overflow_hide color-glod">
                    <div class="left fl">
                        <label  class="active" name="wz">王者荣耀</label>
                        <label name="jd">绝地求生大逃杀</label>
                    </div>
                        <div class="right fr mess">
                            <label id="create" class="active" style="display: none;" onclick="createTeam()"><span>创建战队</span></label>
                            <div class="messa"><i> <img src="/images/messico.png"> </i><span class="mdat"></span></div>
                        </div>
				</div>
				<div class="list my" id="teamInfo">

				</div>
            <div  style="display: block;" id="wz">
				<div class="table_box show">
					<ul class="tabs clearfix" style="display: block;">
						<li class="active"><a href="#tab1">战队荣誉</a></li>
						<li><a href="#tab2">战队成员</a></li>
						<li><a href="#tab3">历史赛事</a></li>
					</ul>
				</div>
				<div id="tab1" class="tab_content" style="display: block; ">
					<div id="tabNo1">
					</div>
					<div class="z_pager">
						<ul id="pageContainer1"></ul>
					</div>
				</div>
				<div id="tab2" class="tab_content" style="display: none; ">
					<div id="tabNo2">
					</div>
					<div class="z_pager">
						<ul id="pageContainer2"></ul>
					</div>
				</div>
				<div id="tab3" class="tab_content" style="display: none; ">
					<div id="tabNo3">
					</div>
					<div class="z_pager">
						<ul id="pageContainer3"></ul>
					</div>
				</div>
			</div>
			<div class="historyTable">
				<div class="list" id="teamList">
				</div>
                <div class="z_pager">
                    <ul id="pageContainer"></ul>
                </div>
            </div>
			</div>
		</div>
	</div>
</div>
<div class="botwrap">
	<div th:include="/include :: botwrap"></div>
	<textarea id="teamInfoArea"  style="display:none;">
	{{each troops}}
						<div class="block1">
						<img src="{{$value.troopsUrl}}" style="width: 46px;height: 49px;">
						<p>{{$value.troopsName}}</p>
					</div>
					<div class="block2">
						<p>{{$value.troopsManifesto}}</p>
						<div class="info">
                                        {{if ($value.gameType==1 )}}
	                                        <span>王者荣耀</span>
	                                    {{else if(($value.gameType==2))}}
	                                        <span>绝地求生</span>
	                                    {{/if}}

                                        {{if ($value.serverType==1 )}}
	                                        <span>手游区</span>
	                                    {{else if(($value.gameType==2))}}
	                                        <span>微信区</span>
	                                    {{/if}}
                                        <span>{{$value.troopsNumbers}}/{{$value.troopsNumberLimit}}</span></div>
					</div>
					<div id="exitzdd" class="zd-btn" onclick="tuchuTeam()">退出战队</div>
    {{/each}}
	</textarea>
	<textarea id="itemTemplate"  style="display:none;">
	{{each result}}
						<div class="table_box show">
							<div class="list">
								<div class="block1">
									<img src="{{$value.troopsUrl}}" style="width: 46px;height: 49px;">
									<p>{{$value.troopsName}}</p>
								</div>
								<div class="block2">
									<p>{{$value.troopsManifesto}}</p>
									<div class="info">
                                        {{if ($value.gameType==1 )}}
	                                        <span>王者荣耀</span>
	                                    {{else if(($value.gameType==2))}}
	                                        <span>绝地求生</span>
	                                    {{/if}}

                                        {{if ($value.serverType==1 )}}
	                                        <span>手游区</span>
	                                    {{else if(($value.gameType==2))}}
	                                        <span>微信区</span>
	                                    {{/if}}
                                        <span>{{$value.troopsNumbers}}/{{$value.troopsNumberLimit}}</span></div>
								</div>
								<div class="zd-btn">申请加入</div>
							</div>
                      </div>
    {{/each}}
	</textarea>
	<textarea id="teamHonor"  style="display:none;">
	{{each result}}
						<div class="saishi">
							<i><img src="{{$value.matchPic}}" style="width: 46px;height: 49px;"></i>
							<span class="text">{{$value.matchName}}</span>
							<em>
								{{if ($value.ranking == "冠军")}}
	                                        <img src="/images/rank1icon.png" alt="">冠军
	                            {{else if($value.ranking == "亚军")}}
	                                        <img src="/images/rank2icon.png" alt="">亚军
								{{else if($value.ranking == "亚军")}}
	                                        <img src="/images/rank3icon.png" alt="">亚军
								{{else}}
	                                        {{$value.ranking}}
	                             {{/if}}

							</em>
						</div>
    {{/each}}
	</textarea>
	<textarea id="teamHistory"  style="display:none;">
	{{each result}}
						<div class="saishi">
							<i><img src="{{$value.matchPic}}" style="width: 103px;height: 26px;">
							</i>
							<span class="text">{{$value.matchName}}</span>
						</div>
    {{/each}}
	</textarea>
	<textarea id="teamMember"  style="display:none;">
	{{each result}}
						<div class="players clearfix">
						<div class="captain"><img src="{{$value.headUrl}}"></div>
						<div class="id"><p class="name">APP ID：{{$value.idCard}}</p><p>游戏ID：{{$value.nickName}}</p></div>
						<div class="area">
										<!--{{if ($value.serverType==1 )}}
	                                        <span>手游区</span>
	                                    {{else if(($value.gameType==2))}}
	                                        <span>微信区</span>
	                                    {{/if}}-->
							 <span>{{$value.serverType}}</span>
						</div>
						<div class="dan">{{$value.level}}</div>
							{{if ($value.userId == captainId)}}
	                                        <div class="position">队长</div>
	                        {{/if}}
					</div>
    {{/each}}
	</textarea>
</div>
<!--我的战队-队员推出战队弹窗-->
<div class="exitzd" style="display: none;">
	<div class="blacbg">
	</div>
	<div class="alwr">
		<div class="pubclose">
			<img src="/images/closeico.png" onclick="closeWin('exitzd')">
		</div>
		<div class="credwrap">
			<h3>确定退出战队？
			</h3>
			<p>
				<a href="javascript:;" onclick="closeWin('exitzd')">取消</a>
				<a href="javascript:;" id="backTeam">确定</a>
			</p>
		</div>
	</div>
</div>

<script  src="/vendor/sea/sea.js"></script>
<script src="/scripts/config/seajs-config.js"></script>
<script type="text/javascript">
	seajs.use('/scripts/controller/user/myWarTeamWz');
</script>
<script type="text/javascript" src="/js/jquery.select.js"></script>
<script type="text/javascript">
	$(".historyTable").hide();
	$(".tab_content").hide();
	$(".tab_content:first").show();
	$(".fenye a").click(function(){
        $(this).addClass("active").siblings().removeClass("active");
    })
	function createTeam() {
		$(".dialog").show();
	}
	function tuchuTeam() {
		$(".exitzd").show();
	}
	function closeWin(wid) {
		$("."+wid).hide();
	}
</script>
</body>
</html>