<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人中心-我的战队</title>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/personal.css">
	<link rel="stylesheet" href="/css/zyx_forecast.css">
	<link rel="stylesheet"	href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"	crossorigin="anonymous" />
	<script src="/js/jquery.1.11.3.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="topWrap">
	<div th:include="/include :: topWrap" ></div>
</div>
<div class="data">
	<div class="content">
		<div class="tit">个人中心</div>
		<div class="cont">
			<div class="lt">
				<ul>
					<li><a href="/user/index"><div class="ic ic1"></div><span>我的资料</span></a></li>
					<li><a href="/user/myMatch"><div class="ic ic2"></div><span>我的赛事</span></a></li>
					<li><a href="/user/BetOrder" ><div class="ic ic3"></div><span>我的竞猜</span></a></li>
					<li><a href="#"><div class="ic ic4"></div><span>兑换商城</span></a></li>
					<li><a href="/user/ConvertDiamondToGold"><div class="ic ic5"></div><span>货币兑换</span></a></li>
					<li><a href="/user/PersonalWealth" class="select"><div class="ic ic6"></div><span>消费记录</span></a></li>
					<li><a href="/user/UserHonor"><div class="ic ic7"></div><span>个人荣誉</span></a></li>
					<li><a  href="/user/myWarTeam"><div class="ic ic9"></div><span>我的战队</span></a></li>
				</ul>
			</div>
			<div class="record">
				<div class="table_head overflow_hide color-glod">
                    <div class="left fl">
                        <label  class="active" name="wz">王者荣耀</label>
                        <label name="jd">绝地求生大逃杀</label>
                    </div>
                        <div class="right fr mess">
                            <label id="create" class="active"><span>创建战队</span></label>
                            <div class="messa"><i> <img src="/images/messico.png"> </i><span class="mdat">999</span></div>
                        </div>
				</div>
            <div class="historyTable">
				<div class="list" id="teamList">

				</div>
                <div class="z_pager">
                    <ul id="pageContainer"></ul>
                </div>
            </div>

			</div>
			<div class="dialog">
				<div class="contuwrap">
					<div class="pubclose">
						<img src="images/closeico.png">
					</div>
					<div class="cont">

						<div class="upimg">
							<span>上传战队图片</span>
							<a href="javascript:;" class="file right">
								<input type="file" name="" id="">
							</a>
						</div>
						<div class="info1">
							<p class="clearfix"><span>所属游戏</span><em>王者荣耀</em></p>
							<p class="clearfix"><span>游戏区服</span>
								<select class="right">
									<option value="volvo">必选</option>
									<option value="saab">Saab</option>
									<option value="mercedes">Mercedes</option>
									<option value="audi">Audi</option>
								</select>
							</p>
							<p class="clearfix"><span>战队名称</span><input type="text" placeholder="最多6个字且不支持符号"></p>
							<p class="clearfix bor-botttom11"><span>战队宣言</span><input type="text" placeholder="最多25字"></p>
						</div>
						<div class="info1">
							<p class="clearfix"><span>真实姓名</span><input type="text" placeholder="请输入真实姓名"></p>
							<p class="clearfix"><span>身份证号</span><input type="text" placeholder="请输入身份证号"></p>
							<p class="clearfix"><span>验证手机号</span><input type="text" placeholder="请输入手机号"></p>
							<p class="clearfix"><span>输入验证码 </span><span class="access">获取</span><input type="text" placeholder="请输入验证码"></p>
							<div class="craat-btn">创建战队</div>
							<div class="agreement">创建战队即代表同意<em>《创建战队协议》</em></div>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>
<div class="botwrap">
	<div th:include="/include :: botwrap"></div>
	<textarea id="itemTemplate"  style="display:none;">
	{{each result}}
						<div class="table_box show">
							<div class="list">
								<div class="block1">
									<img src="{{$value.troopsUrl}}" style="width: 46px;height: 49px;">
									<p>{{$value.troopsName}}</p>
								</div>
								<div class="block2">
									<p>{{$value.troopsManifesto}}</p>
									<div class="info">
                                        {{if ($value.gameType==1 )}}
	                                        <span>王者荣耀</span>
	                                    {{else if(($value.gameType==2))}}
	                                        <span>绝地求生</span>
	                                    {{/if}}

                                        {{if ($value.serverType==1 )}}
	                                        <span>手游区</span>
	                                    {{else if(($value.gameType==2))}}
	                                        <span>微信区</span>
	                                    {{/if}}
                                        <span>{{$value.troopsNumbers}}/{{$value.troopsNumberLimit}}</span></div>
								</div>
								<div class="zd-btn">申请加入</div>
							</div>
                      </div>
    {{/each}}
	</textarea>
</div>
<script  src="/vendor/sea/sea.js"></script>
<script src="/scripts/config/seajs-config.js"></script>
<script type="text/javascript">
	seajs.use('/scripts/controller/user/myWarTeamNothing');
</script>
<script type="text/javascript" src="/js/jquery.select.js"></script>
<script type="text/javascript">
    $(".fenye a").click(function(){
        $(this).addClass("active").siblings().removeClass("active");
    })
    //弹框
    $("#create").on("click",function(){
        $(".dialog").fadeIn();
    })
    $(document).mouseup(function(e){
        var _con = $('.dialog');
        if(_con.is(e.target) && _con.has(e.target).length === 0){
            $(_con).fadeOut();
            $("html").css({overflow:"auto",height:"100%"})
        }
    });

</script>
</body>
</html>