<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人中心-我的战队</title>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/personal.css">
	<script src="/js/jquery.1.11.3.min.js"></script>
	<!-- <script src="/js/bootstrap.min.js" ></script> -->
</head>
<script>
	var uid="";
    window.onload = function(){
        $(".lt li a").each(function(){
            $(this).removeAttr('class');
        });
        $(".lt li a").eq(5).attr("class","select");
    }
</script>
<body>
<div class="topWrap">
	<div th:include="/include :: topWrap" ></div>
	<input type="hidden" val="" id="tid"/>;
	<input type="hidden" val="" id="tid2"/>;
</div>
<div class="data">
	<div class="content">
		<div class="tit">个人中心</div>
		<div class="cont">
			<div th:replace="/include :: ltc" ></div>
			<div class="team">
				<!--创建战队-->
				<div class="dialog" id="dialog1" style="display: none;">
					<div class="contuwrap" >
						<div class="pubclose">
							<img src="/images/closeico.png" onclick="closeWin('dialog')">
						</div>
						<div class="cont">
							<input type="hidden" id="img" val=""/>
							<div class="upimg">
								<span>上传战队图片</span>
								<a href="javascript:;" class="file right" id="showImg">
									<form id="form-add" method="POST" enctype="multipart/form-data">
										<input type="file" name="" id="updateImg" name="updateImg" multiple="multiple" accept="image/*">
									</form>
								</a>
							</div>
							<div class="info1">
								<p class="clearfix"><span>所属游戏</span>
									<select class="right" id="gameType">
										<option value="1">王者荣耀</option>
										<option value="2">绝地求生</option>
									</select>
								</p>
								<p class="clearfix"><span>游戏区服</span>
									<select class="right" id="serverType">
										<option value="1">手游区</option>
										<option value="2">微信区</option>
									</select>
								</p>
								<p class="clearfix"><span>战队名称</span><input type="text" placeholder="最多6个字且不支持符号" maxlength="6" id="troopsName"></p>
								<p class="clearfix bor-botttom11"><span>战队宣言</span><input type="text" placeholder="最多25字" maxlength="25"></p>
							</div>
							<div class="info1">
								<p class="clearfix"><span>真实姓名</span><input type="text" placeholder="请输入真实姓名"></p>
								<p class="clearfix"><span>身份证号</span><input type="text" placeholder="请输入身份证号"></p>
								<p class="clearfix"><span>验证手机号</span><input type="text" placeholder="请输入手机号" id="phoneInput"></p>
								<p class="clearfix"><span>输入验证码 </span>
									<span class="access" style="cursor:pointer;" onclick="getCode()">获取</span>
									<!--<span id="getCodeBtn" class="bg-red" style="cursor:pointer;">获取验证码</span>-->
									<input type="text" placeholder="请输入验证码" id="code"></p>
								<div class="craat-btn" onclick="createTeam()" style="cursor:pointer;">创建战队</div>
								<div class="agreement">创建战队即代表同意<em>《创建战队协议》</em></div>
							</div>
						</div>
					</div>
				</div>

				<!--转移队长wz-->
				<div class="dialog" id="dialog2"style="display: none;">
					<div class="contuwrap" >
						<div class="pubclose">
							<img src="/images/closeico.png" onclick="closeWin('dialog')">
						</div>
						<div class="cont">

							<div class="info1">
								<p class="clearfix"><span>验证手机号</span><input type="text" placeholder="请输入手机号" id="phoneInput2"></p>
								<p class="clearfix"><span>输入验证码 </span>
									<span class="access" style="cursor:pointer;" onclick="getCode2()">获取</span>
									<!--<span id="getCodeBtn" class="bg-red" style="cursor:pointer;">获取验证码</span>-->
									<input type="text" placeholder="请输入验证码" id="code2"></p>
								<div class="craat-btn" onclick="goMsg()" style="cursor:pointer;">发送</div>
							</div>
						</div>
					</div>
				</div>
				<!--转移队长jd-->
				<div class="dialog" id="dialog3"style="display: none;">
					<div class="contuwrap" >
						<div class="pubclose">
							<img src="/images/closeico.png" onclick="closeWin2('dialog3')">
						</div>
						<div class="cont">

							<div class="info1">
								<p class="clearfix"><span>验证手机号</span><input type="text" placeholder="请输入手机号" id="phoneInput3"></p>
								<p class="clearfix"><span>输入验证码 </span>
									<span class="access" style="cursor:pointer;" onclick="getCode3()">获取</span>
									<!--<span id="getCodeBtn" class="bg-red" style="cursor:pointer;">获取验证码</span>-->
									<input type="text" placeholder="请输入验证码" id="code3"></p>
								<div class="craat-btn" onclick="goMsg2()" style="cursor:pointer;">发送</div>
							</div>
						</div>
					</div>
				</div>

				<div class="table_head overflow_hide color-glod">
					<div class="left fl">
						<label  class="active" name="wz">王者荣耀</label>
						<label name="jd">绝地求生大逃杀</label>
					</div>
					<div class="right fr messd">
						<!--<label id="create" class="active" style="display: none;" onclick="createTeam1()"><span>创建战队</span></label>-->
						<i class="playapply" style="cursor:pointer;">入队申请<span class="news"></span></i>
						<div class="messa"><i> <img src="/images/messico.png"> </i><span class="mdat"></span></div>
					</div>
				</div>
				<div class="list my" id="teamInfo" style="display:block;">

				</div>
				<div class="list my" id="teamInfo2" style="display:none;">

				</div>
				<div  style="display: block;" id="wz">
					<div class="table_box show">
						<ul class="tabs clearfix" style="display: block;">
							<li class="active"><a href="#tab1">战队荣誉</a></li>
							<li><a href="#tab2">战队成员</a></li>
							<li><a href="#tab3">历史赛事</a></li>
						</ul>
					</div>
					<div id="tab1" class="tab_content" style="display: block; ">
						<div id="tabNo1">
						</div>
						<div class="z_pager">
							<ul id="pageContainer1"></ul>
						</div>
					</div>
					<div id="tab2" class="tab_content" style="display: none; ">
						<div id="tabNo2">
						</div>
						<div class="z_pager">
							<ul id="pageContainer2"></ul>
						</div>
					</div>
					<div id="tab3" class="tab_content" style="display: none; ">
						<div id="tabNo3">
						</div>
						<div class="z_pager">
							<ul id="pageContainer3"></ul>
						</div>
					</div>
				</div>

				<div  style="display: none;" id="jd">
					<div class="table_box show">
						<ul class="tabs clearfix" style="display: block;">
							<li class="active"><a href="#tab4">战队荣誉</a></li>
							<li><a href="#tab5">战队成员</a></li>
							<li><a href="#tab6">历史赛事</a></li>
						</ul>
					</div>
					<div id="tab4" class="tab_content" style="display: block; ">
						<div id="tabNo4">
						</div>
						<div class="z_pager">
							<ul id="pageContainer4"></ul>
						</div>
					</div>
					<div id="tab5" class="tab_content" style="display: none; ">
						<div id="tabNo5">
						</div>
						<div class="z_pager">
							<ul id="pageContainer5"></ul>
						</div>
					</div>
					<div id="tab6" class="tab_content" style="display: none; ">
						<div id="tabNo6">
						</div>
						<div class="z_pager">
							<ul id="pageContainer6"></ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="botwrap">
	<div th:include="/include :: botwrap"></div>
	<textarea id="teamInfoArea"  style="display:none;">
	{{each troops}}
		  {{if ($value.gameType==1 )}}
						<div class="block1">
						<img src="{{$value.troopsUrl}}" style="width: 46px;height: 49px;">
						<p>{{$value.troopsName}}</p>
					</div>
					<div class="block2">
						<p>{{$value.troopsManifesto}}</p>
						<div class="info">
                                        {{if ($value.gameType==1 )}}
	                                        <span>王者荣耀</span>
	                                    {{else if(($value.gameType==2))}}
	                                        <span>绝地求生</span>
	                                    {{/if}}

                                        {{if ($value.serverType==1 )}}
	                                        <span>手游区</span>
	                                    {{else if(($value.gameType==2))}}
	                                        <span>微信区</span>
	                                    {{/if}}
                                        <span>{{$value.troopsNumbers}}/{{$value.troopsNumberLimit}}</span></div>
					</div>
					<div id="exitzdd" class="zd-btn" onclick="tuchuTeam()" style="cursor:pointer;">退出战队</div>
		{{/if}}
    {{/each}}
	</textarea>
	<textarea id="teamInfoArea2"  style="display:none;">
	{{each troops}}
		  {{if ($value.gameType==2 )}}
						<div class="block1">
						<img src="{{$value.troopsUrl}}" style="width: 46px;height: 49px;">
						<p>{{$value.troopsName}}</p>
					</div>
					<div class="block2">
						<p>{{$value.troopsManifesto}}</p>
						<div class="info">
                                        {{if ($value.gameType==1 )}}
	                                        <span>王者荣耀</span>
	                                    {{else if(($value.gameType==2))}}
	                                        <span>绝地求生</span>
	                                    {{/if}}

                                        {{if ($value.serverType==1 )}}
	                                        <span>手游区</span>
	                                    {{else if(($value.gameType==2))}}
	                                        <span>微信区</span>
	                                    {{/if}}
                                        <span>{{$value.troopsNumbers}}/{{$value.troopsNumberLimit}}</span></div>
					</div>
					<div id="exitzdd2" class="zd-btn" onclick="tuchuTeam2()" style="cursor:pointer;">退出战队</div>
		{{/if}}
    {{/each}}
	</textarea>
	<textarea id="teamHonor"  style="display:none;">
	{{each result}}
						<div class="saishi">
							<i><img src="{{$value.matchPic}}" style="width: 46px;height: 49px;"></i>
							<span class="text">{{$value.matchName}}</span>
							<em>
								{{if ($value.ranking == "冠军")}}
	                                        <img src="/images/rank1icon.png" alt="">冠军
	                            {{else if($value.ranking == "亚军")}}
	                                        <img src="/images/rank2icon.png" alt="">亚军
								{{else if($value.ranking == "亚军")}}
	                                        <img src="/images/rank3icon.png" alt="">亚军
								{{else}}
	                                        {{$value.ranking}}
	                             {{/if}}

							</em>
						</div>
    {{/each}}
	</textarea>
	<textarea id="teamHonorjd"  style="display:none;">
	{{each result}}
						<div class="saishi">
							<i><img src="{{$value.matchPic}}" style="width: 46px;height: 49px;"></i>
							<span class="text">{{$value.matchName}}</span>
							<em>
								{{if ($value.ranking == "冠军")}}
	                                        <img src="/images/rank1icon.png" alt="">冠军
	                            {{else if($value.ranking == "亚军")}}
	                                        <img src="/images/rank2icon.png" alt="">亚军
								{{else if($value.ranking == "亚军")}}
	                                        <img src="/images/rank3icon.png" alt="">亚军
								{{else}}
	                                        {{$value.ranking}}
	                             {{/if}}

							</em>
						</div>
    {{/each}}
	</textarea>
	<textarea id="teamHistory"  style="display:none;">
	{{each result}}
						<div class="saishi">
							<i><img src="{{$value.matchPic}}" style="width: 103px;height: 26px;">
							</i>
							<span class="text">{{$value.matchName}}</span>
						</div>
    {{/each}}
	</textarea>
	<textarea id="teamHistoryjd"  style="display:none;">
	{{each result}}
						<div class="saishi">
							<i><img src="{{$value.matchPic}}" style="width: 103px;height: 26px;">
							</i>
							<span class="text">{{$value.matchName}}</span>
						</div>
    {{/each}}
	</textarea>
	<textarea id="teamMember"  style="display:none;">
	{{each result}}
						<div class="players clearfix">
						<div class="captain"><img src="http://p22o6bknk.bkt.clouddn.com/{{$value.headUrl}}"></div>
						<div class="id"><p class="name">APP ID：{{$value.idCard}}</p><p>游戏ID：{{$value.nickName}}</p></div>
						<div class="area">
										<!--{{if ($value.serverType==1 )}}
	                                        <span>手游区</span>
	                                    {{else if(($value.gameType==2))}}
	                                        <span>微信区</span>
	                                    {{/if}}-->
							 <span>{{$value.serverType}}</span>
						</div>
						<div class="dan">{{$value.level}}</div>
							{{if ($value.userId == captainId)}}
	                                        <div class="position">队长</div>
							{{else if(($value.userId != captainId))}}
							<div class="zd-btncz">
											<a href="javascript:;" onclick="delMember({{$value.userId}})">踢出队员</a>
											<a href="javascript:;" onclick="zyDz({{$value.userId}})">转移队长</a>
										</div>
							{{/if}}
					</div>
    {{/each}}
	</textarea>
	<textarea id="teamMemberjd"  style="display:none;">
	{{each result}}
						<div class="players clearfix">
						<div class="captain"><img src="http://p22o6bknk.bkt.clouddn.com/{{$value.headUrl}}"></div>
						<div class="id"><p class="name">APP ID：{{$value.idCard}}</p><p>游戏ID：{{$value.nickName}}</p></div>
						<div class="area">
							 <span>{{$value.serverType}}</span>
						</div>
						<div class="dan">{{$value.level}}</div>
							{{if ($value.userId == captainId)}}
	                                        <div class="position">队长</div>
							{{else if(($value.userId != captainId))}}
							<div class="zd-btncz">
											<a href="javascript:;" onclick="delMember2({{$value.userId}})">踢出队员</a>
											<a href="javascript:;" onclick="zyDz({{$value.userId}})">转移队长</a>
										</div>
							{{/if}}
					</div>
    {{/each}}
	</textarea>
	<textarea id="teamnNewMember"  style="display:none;">
	{{each result}}
		<div class="players clearfix">


				<div class="captain"><img src="http://p22o6bknk.bkt.clouddn.com/{{$value.headUrl}}" style="width: 65px;height: 65px;"></div>
				<div class="id"><p class="name">APP ID：{{$value.id}}</p><p>游戏ID：{{$value.nickName}}</p></div>
				<div class="area">
	                                        <span>{{$value.serverType}}</span>
	                                    </div>
				<div class="dan">{{$value.level}}</div>
				<div class="zd-btncz">
										{{if ($value.status==0 )}}
	                                       <a class="tcdz" onclick="editSQ({{$value.userId}},0)" style="cursor:pointer;">接受</a>
											<a class="zydz" href="editSQ({{$value.userId}},1)" style="cursor:pointer;">拒绝</a>
	                                    {{else if(($value.status!=0))}}
	                                    {{/if}}


				</div>
			</div>
    {{/each}}
	</textarea>
	<textarea id="teamnNewMember2"  style="display:none;">
	{{each result}}
		<div class="players clearfix">


				<div class="captain"><img src="http://p22o6bknk.bkt.clouddn.com/{{$value.headUrl}}" style="width: 65px;height: 65px;"></div>
				<div class="id"><p class="name">APP ID：{{$value.id}}</p><p>游戏ID：{{$value.nickName}}</p></div>
				<div class="area">
	                                        <span>{{$value.serverType}}</span>
	                                    </div>
				<div class="dan">{{$value.level}}</div>
				<div class="zd-btncz">
										{{if ($value.status==0 )}}
	                                       <a class="tcdz" onclick="editSQ2({{$value.userId}},0)" style="cursor:pointer;">接受</a>
											<a class="zydz" href="editSQ2({{$value.userId}},1)" style="cursor:pointer;">拒绝</a>
	                                    {{else if(($value.status!=0))}}
	                                    {{/if}}


				</div>
			</div>
    {{/each}}
	</textarea>
</div>
<!--我的战队-队员推出战队弹窗wz-->
<div class="exitzd" style="display: none;" id="exitzd">
	<div class="blacbg">
	</div>
	<div class="alwr">
		<div class="pubclose">
			<img src="/images/closeico.png" onclick="closeWin2('exitzd')">
		</div>
		<div class="credwrap">
			<h3>确定退出战队？
			</h3>
			<p>
				<a href="javascript:;" onclick="closeWin2('exitzd')">取消</a>
				<a href="javascript:;" id="backTeam">确定</a>
			</p>
		</div>
	</div>
</div>
<!--我的战队-队员推出战队弹窗jd-->
<div class="exitzd" style="display: none;" id="exitzd2">
	<div class="blacbg">
	</div>
	<div class="alwr">
		<div class="pubclose">
			<img src="/images/closeico.png" onclick="closeWin2('exitzd2')">
		</div>
		<div class="credwrap">
			<h3>确定退出战队？
			</h3>
			<p>
				<a href="javascript:;" onclick="closeWin2('exitzd2')">取消</a>
				<a href="javascript:;" id="backTeam2">确定</a>
			</p>
		</div>
	</div>
</div>
<!--我的战队入队申请-->
<div class="poprdsq">
	<div class="blacbg">
	</div>
	<div class="playerwr">
		<div class="pubclose">
			<img src="/images/closeico.png" onclick="closeWin('poprdsq')">
		</div>
		<div class="playerwrap">
			<h3>入队申请
			</h3>
			<div  id="newMemberlist">
			</div>
			<div class="viewmatch">查看全部赛事 <img src="/images/viemat.png"></div>
		</div>
	</div>
</div>
<script  src="/vendor/sea/sea.js"></script>
<script src="/scripts/config/seajs-config.js"></script>
<script  type="text/javascript" src="/layer/layer.js"></script>
<script type="text/javascript">
    seajs.use('/scripts/controller/user/myWarTeam');
</script>
<script type="text/javascript" src="/js/jquery.select.js"></script>
<script type="text/javascript">
    $(".historyTable").hide();
    $(".tab_content").hide();
    $(".tab_content:first").show();
    $(".fenye a").click(function(){
        $(this).addClass("active").siblings().removeClass("active");
    })
    function createTeam1() {
        $("#dialog1").fadeIn();
    }
    function zyDz(id){
        uid=id;
        $("#dialog2").fadeIn();
    }

    function goMsg(){
        var tid=$("#tid").val();
        var code=$("#code2").val();
        var phone =$("#phoneInput2").val();
        $.ajax({
            url : "/user/myWarTeam/zydz",
            datatype : 'json',
            type : "get",
            data : {"code" : code,"troopsId" : tid,"mobile":phone,"newCaptainId":uid},
            success : function(json) {
                var data = json.msg;
                layer.alert(data, {
                        title: data,
                        btn: ['确定']
                    },
                    function (index, item) {
                        location.reload();
                    });
            }
        });
    }
    function goMsg2(){
        alert(uid);
        var tid=$("#tid2").val();
        var code=$("#code3").val();
        var phone =$("#phoneInput3").val();
        $.ajax({
            url : "/user/myWarTeam/zydz",
            datatype : 'json',
            type : "get",
            data : {"code" : code,"troopsId" : tid,"mobile":phone,"newCaptainId":uid},
            success : function(json) {
                var data = json.msg;
                layer.alert(data, {
                        title: data,
                        btn: ['确定']
                    },
                    function (index, item) {
                        location.reload();
                    });
            }
        });
    }
    function createTeam() {
        var troopsName=$("#troopsName").val();
        var gameType=$("#gameType").val();
        var serverType=$("#serverType").val();
        var captainId="";
        var code=$("#code").val();
        var phone =$("#phoneInput").val();
        $.ajax({
            url : "/user/myWarTeam/editTeam",
            datatype : 'json',
            type : "get",
            data : {"troopsName" : troopsName,"gameType" : gameType,"serverType" : serverType,"code":code,"phone":phone},
            success : function(json) {
                var data = json.msg;
                layer.alert(data, {
                        title: data,
                        btn: ['确定']
                    },
                    function (index, item) {
                        location.reload();
                    });
            }
        });
    }
    function tuchuTeam() {
        $("#exitzd").fadeIn();
    }
    function tuchuTeam2() {
        $("#exitzd2").fadeIn();
    }
    function closeWin(wid) {
        //$("."+wid).fadeOut();
        $("."+wid).hide();
    }
    function closeWin2(wid) {
        //$("."+wid).fadeOut();
        $("#"+wid).hide();
    }

    function goTeamInfo(id) {
        var curWwwPath = window.document.location.href;
        //获取主机地址之后的目录，如： uimcardprj/share/meun.jsp
        var pathName = window.document.location.pathname;
        var pos = curWwwPath.indexOf(pathName);
        window.location.href=window.document.location.href.substring(0, pos)+'/user/warTeamInfo?id='+id;
    }
    // 绑定获取验证码事件
    var InterValObj; //timer变量，控制时间
    var count = 90; //间隔函数，1秒执行
    //var curCount;//当前剩余秒数
    function getCode() {
        var mobile = $("#phoneInput").val();
        if (mobile == "") {
            layer.msg("请输入手机号");
            return;
        }
        if(!isPoneAvailable(mobile)){
            layer.msg("请输入正确的手机号");
            return;
        }
        //curCount = count;
        $(this).off("click");
        $(this).removeAttr("class","bg-red");
        $(this).attr("class","bg-999");
        //$(this).text("倒计时" + curCount + "秒");
        //InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
        sendsms(mobile);
    };
    //发送验证码
    function sendsms(mobile){
        $.ajax({
            url : "/sendMobileCodeByCreatTeam",
            datatype : 'json',
            type : "post",
            data : {
                "mobile" : mobile
            },success:function(obj){
                if(obj==null){
                    layer.msg("远程接口调用失败");
                }else{
                    if(obj.code==200){
                        layer.msg("验证码发送成功");
                    }else{
                        layer.msg("验证码发送失败请重试！");
                    }
                }
            }
        });
    }

    function getCode2() {
        var mobile = $("#phoneInput2").val();
        if (mobile == "") {
            layer.msg("请输入手机号");
            return;
        }
        if(!isPoneAvailable(mobile)){
            layer.msg("请输入正确的手机号");
            return;
        }
        //curCount = count;
        $(this).off("click");
        $(this).removeAttr("class","bg-red");
        $(this).attr("class","bg-999");
        //$(this).text("倒计时" + curCount + "秒");
        //InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
        sendsms2(mobile);
    };
    function getCode3() {
        var mobile = $("#phoneInput3").val();
        if (mobile == "") {
            layer.msg("请输入手机号");
            return;
        }
        if(!isPoneAvailable(mobile)){
            layer.msg("请输入正确的手机号");
            return;
        }
        //curCount = count;
        $(this).off("click");
        $(this).removeAttr("class","bg-red");
        $(this).attr("class","bg-999");
        //$(this).text("倒计时" + curCount + "秒");
        //InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
        sendsms2(mobile);
    };
    //发送验证码
    function sendsms2(mobile){
        $.ajax({
            url : "/sendMobileCodeByZydz",
            datatype : 'json',
            type : "post",
            data : {
                "mobile" : mobile
            },success:function(obj){
                if(obj==null){
                    layer.msg("远程接口调用失败");
                }else{
                    if(obj.code==200){
                        layer.msg("验证码发送成功");
                    }else{
                        layer.msg("验证码发送失败请重试！");
                    }
                }
            }
        });
    }

    //timer处理函数
    function SetRemainTime() {
        if (curCount == 0) {
            window.clearInterval(InterValObj);//停止计时器
            $("#getCodeBtn").on("click",function(){
                var mobile = $("#phoneInput").val();
                if (mobile == "") {
                    layer.msg("请输入手机号");
                    return;
                }
                if(!isPoneAvailable(mobile)){
                    layer.msg("请输入正确的手机号");return;}
                curCount = count;
                //设置button效果，开始计时
                $(this).off("click");
                $(this).removeAttr("class","bg-red");
                $(this).attr("class","bg-999");
                $(this).text("倒计时" + curCount + "秒");
                InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
                sendsms(mobile);

            });
            $("#getCodeBtn").removeAttr("class","bg-999");
            $("#getCodeBtn").attr("class","bg-red");
            $("#getCodeBtn").text("发送验证码");

        }
        else {
            curCount--;
            $("#getCodeBtn").text("倒计时" + curCount + "秒");
        }
    }

    //验证手机号码
    function isPoneAvailable(poneInput) {
        var myreg=/^1[3|4|5|8][0-9]\d{4,8}$/;
        if (!myreg.test(poneInput)) {
            return false;
        } else {
            return true;
        }
    }

    function editSQ(id,type) {
        var tid=$("#tid").val();
        $.ajax({
            url : "/user/myWarTeam/operationTeam",
            datatype : 'json',
            type : "get",
            data : {
                "userId" : id,
                "operation":type,
                "troopsId":tid
            },success:function(json){
                var data = json.code;
                $(".exitzd").hide();
                if("0"==data){
                    layer.msg(json.msg);
                }else{
                    layer.msg(json.msg);
                }
                location.reload();
            }
        });
    }
    function editSQ2(id,type) {
        var tid=$("#tid2").val();
        $.ajax({
            url : "/user/myWarTeam/operationTeam",
            datatype : 'json',
            type : "get",
            data : {
                "userId" : id,
                "operation":type,
                "troopsId":tid
            },success:function(json){
                var data = json.code;
                $(".exitzd").hide();
                if("0"==data){
                    layer.msg(json.msg);
                }else{
                    layer.msg(json.msg);
                }
            }
        });
    }

    function delMember(id) {
        var tid=$("#tid").val();
        $.ajax({
            url : "/user/myWarTeam/delMember",
            datatype : 'json',
            type : "get",
            data : {
                "userId" : id,
                "troopsId":tid
            },success:function(json){
                var data = json.code;
                layer.msg(json.msg);
            }
        });
    }
    function delMember2(id) {
        var tid=$("#tid2").val();
        $.ajax({
            url : "/user/myWarTeam/delMember",
            datatype : 'json',
            type : "get",
            data : {
                "userId" : id,
                "troopsId":tid
            },success:function(json){
                var data = json.code;
                layer.msg(json.msg);
            }
        });
    }
</script>
</body>
</html>