<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人中心-消费记录</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/personal.css">
	<script src="js/jquery.1.11.3.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
	<div class="topWrap">
		<div class="topcenter">
			<div class="logo">
				<img src="images/tplogo.png">
			</div>
			<div class="nav">
				<a class="current" href="#">首页<span>HOME</span></a>
				<a href="#">赛事<span>COMPETITION</span></a>
				<a href="#">资讯<span>MESSAGE</span></a>
				<a href="#">直播<span>LIVE</span></a>
				<a href="#">预测<span>FORECAST</span></a>
				<a href="#">移动端<span>MOBILE</span></a>
			</div>
			<div class="loginr">
				<a class="current" href="#">登录</a>
				<a href="#">注册</a>
			</div>
		</div>
	</div>
	<div class="data">
		<div class="content">
			<div class="tit">个人中心</div>
			<div class="cont">
				<div class="lt">
					<ul>
						<li><a href="#"><div class="ic ic1"></div><span>我的资料</span></a></li>
						<li><a href="#"><div class="ic ic2"></div><span>我的赛事</span></a></li>
						<li><a href="#"><div class="ic ic3"></div><span>我的竞猜</span></a></li>
						<li><a href="#"><div class="ic ic4"></div><span>兑换商城</span></a></li>
						<li><a href="#"><div class="ic ic5"></div><span>货币兑换</span></a></li>
						<li><a href="#"><div class="ic ic6"></div><span>消费记录</span></a></li>
						<li><a class="select" href="#"><div class="ic ic7"></div><span>个人荣誉</span></a></li>
						<li><a href="#"><div class="ic ic8"></div><span>商城订单</span></a></li>
						<li><a href="#"><div class="ic ic9"></div><span>我的战队</span></a></li>				
					</ul>
				</div>
				<div class="record">
					<div class="tit ">消费记录
						<select class="select" name="state" data-value="0">
				            <option value ="0">本周</option>
				            <option value ="1" >本月</option>
				            <option value ="1" >3个月</option>
					    </select>
					</div>
					<div class="tab"><span class="sel">所有</span><span>钻石</span><span>金币</span></div>
					<div class="list">
						<p class="clearfix"><span class="time">2018-03-21</span><span>充值</span><em class="blue">+10000金币</em></p>
						<p class="clearfix"><span class="time">2018-03-21</span><span>充值</span><em class="red">+10000金币</em></p>
						<p class="clearfix"><span class="time">2018-03-21</span><span>充值</span><em class="red">+10000金币</em></p>
						<p class="clearfix"><span class="time">2018-03-21</span><span>充值</span><em class="red">+10000金币</em></p>
						<p class="clearfix"><span class="time">2018-03-21</span><span>充值</span><em class="red">+10000金币</em></p>
						<p class="clearfix"><span class="time">2018-03-21</span><span>充值</span><em class="red">+10000金币</em></p>
						<p class="clearfix"><span class="time">2018-03-21</span><span>充值</span><em class="red">+10000金币</em></p>
					</div>
					<div class="fenye text-center">
								<div class="overflow_hide">
									<button >首页</button><button class="nol">上一页</button>
									<span><a class="active">1</a><a >2</a><a>3</a><a>4</a><a>5</a><a>6</a></span>
									<button class="noR">上一页</button><button>尾页</button>
								</div>
							</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="botwrap">
		<div class="bottcon">
			<div class="btnav">
				<div class="dyl">
					<a class="current" href="#">关于我们</a>
					<a href="#">媒体报道</a>
					<a href="#">投资方&顾问</a>
				</div>
				<div class="dyl">
					<a href="#">工作机会</a>
					<a href="#">网站条款</a>
					<a href="#">新手指南</a>
				</div>
				<div class="dyl">
					<a href="#">我们的公众号</a>
				</div>
			</div>
			<div class="btlogo">
				<img src="images/btlogo.png">
			</div>
		</div>
		<div class="btsafetext">
			<div class="textnav">
				<a href="#">家长监护</a>|
				<a href="#">防沉迷</a>|
				<a href="#">交易纠纷处理</a>|
				<a href="#">用户权益保障措施</a>
			</div>
			<p>健康游戏忠告: 抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</p>
			<p>指尖上行（北京）互动娱乐科技有限公司</p>
		</div>
	</div>
        <script type="text/javascript" src="js/jquery.select.js"></script>
        <script type="text/javascript">
            $(function(){
                $('select.select').select();
            });
        </script>
</body>
</html>