<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人中心-消费记录</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/personal.css">
	<script src="/js/jquery.1.11.3.min.js"></script>
	<script src="/js/bootstrap.min.js" ></script>
</head>
<body>
<div class="topWrap"><div th:include="/include :: topWrap" ></div></div>
	<div class="data">
		<div class="content">
			<div class="tit">个人中心</div>
			<div class="cont">
				<div class="lt">
					<ul>
						<li><a href="/user/index"><div class="ic ic1"></div><span>我的资料</span></a></li>
						<!-- <li><a href="/user/myMatch"><div class="ic ic2"></div><span>我的赛事</span></a></li> -->
						<li><a href="/user/BetOrder" ><div class="ic ic3"></div><span>我的竞猜</span></a></li>
						<li><a href="/user/ConvertDiamondToGold"><div class="ic ic5"></div><span>货币兑换</span></a></li>
						<li><a href="/user/PersonalWealth"  class="select"><div class="ic ic6"></div><span>消费记录</span></a></li>
						<li><a href="/user/UserHonor"><div class="ic ic7"></div><span>个人荣誉</span></a></li>
						<li><a  href="/user/myWarTeam"><div class="ic ic9"></div><span>我的战队</span></a></li>			
					</ul>
				</div>
				<div class="record">
					<div class="tit ">消费记录
						<select class="select" name="state" id="dataId" data-value="0">
				            <option value ="0">本周</option>
				            <option value ="1" >本月</option>
				            <option value ="2" >3个月</option>
					    </select>
					</div>
					<div class="tab"><span class="sel" name="0">所有</span><span name="2">钻石</span><span name="1">金币</span></div>
					<div class="list" id="list_content">
						
					</div>
					<div class="z_pager">
								<ul id="pageContainer"></ul>
							</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="botwrap"><div th:include="/include :: botwrap"></div></div>
	<textarea id="itemTemplate"  style="display:none;">
	{{each result}}
	<p class="clearfix"><span class="time">{{$value.createTime | dateAprFmt}}</span><span>
	{{if($value.detailtype==3)}}
	赛事报名
	{{else if($value.detailtype==7)}}
	钻石兑换金币
	{{else if($value.detailtype==8)}}
	充值
	{{else if($value.detailtype==1)}}
	赛事结算
	{{else if($value.detailtype==2)}}
	赛事流盘
	{{else if($value.detailtype==4)}}
	三方竞猜
	{{else if($value.detailtype==5)}}
	兑换商品
	{{else if($value.detailtype==6)}}
	商品订单取消,退款
	{{else if($value.detailtype==9)}}
	赛事取消退款
	{{else if($value.detailtype==10)}}
	代练下单
	{{else if($value.detailtype==11)}}
	代练订单取消
	{{else if($value.detailtype==12)}}
	手动添加虚拟货币
	{{else if($value.detailtype==13)}}
	竞猜结算
	{{else if($value.detailtype==14)}}
	竞猜流盘
	{{else}}
	初始化账户信息
	{{/if}}
	
	
	</span>
	
	{{if ($value.operationType==0 || $value.operationType==1)}}
	<em class="blue">{{$value.value}} 金币</em>
	{{else if(($value.operationType==3 || $value.operationType==4))}}
	<em class="blue">{{$value.value}} 钻石</em>
	{{/if}}
	</p>
	{{/each}}
	</textarea>
	<script  src="/vendor/sea/sea.js"></script>
<script src="/scripts/config/seajs-config.js"></script>
<script type="text/javascript">
	seajs.use('/scripts/controller/user/PersonalWealth');
</script>  
        <script type="text/javascript" src="/js/jquery.select.js"></script>
        <script type="text/javascript">
            $(function(){
                $('select.select').select();
            });
        </script>
</body>
</html>