<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人中心-消费记录</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/personal.css">
	<script src="/js/jquery.1.11.3.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
	<div th:include="/user/include :: topWrap" ></div>
	<div class="data">
		<div class="content">
			<div class="tit">个人中心</div>
			<div class="cont">
				<div class="lt">
					<ul>
						<li><a href="#"><div class="ic ic1"></div><span>我的资料</span></a></li>
						<li><a href="#"><div class="ic ic2"></div><span>我的赛事</span></a></li>
						<li><a href="#"><div class="ic ic3"></div><span>我的竞猜</span></a></li>
						<li><a href="#"><div class="ic ic4"></div><span>兑换商城</span></a></li>
						<li><a href="#"><div class="ic ic5"></div><span>货币兑换</span></a></li>
						<li><a href="#"><div class="ic ic6"></div><span>消费记录</span></a></li>
						<li><a class="select" href="#"><div class="ic ic7"></div><span>个人荣誉</span></a></li>
						<li><a href="#"><div class="ic ic8"></div><span>商城订单</span></a></li>
						<li><a href="#"><div class="ic ic9"></div><span>我的战队</span></a></li>				
					</ul>
				</div>
				<div class="record">
					<div class="tit ">消费记录
						<select class="select" name="state" id="dataId" data-value="0">
				            <option value ="0">本周</option>
				            <option value ="1" >本月</option>
				            <option value ="1" >3个月</option>
					    </select>
					</div>
					<div class="tab"><span class="sel" name="0">所有</span><span name="1">钻石</span><span name="2">金币</span></div>
					<div class="list" id="list_content">
						
					</div>
					<div class="fenye text-center">
								<ul id="pageContainer"></ul>
							</div>
				</div>
			</div>
		</div>
	</div>
</div>

	<div th:include="/user/include :: botwrap"></div>
	<textarea id="itemTemplate">
	{{each result}}
	<p class="clearfix"><span class="time">{{$value.createTime | dateFmt}}</span><span>{{$value.detailtype}}</span>
	
	{{if ($value.operationType==1 or $value.operationType==1)}}
	<em class="blue">{{$value.value}} 金币</em>
	{{else if(($value.operationType==3 or $value.operationType==4))}}
	<em class="blue">{{$value.value}} 钻石</em>
	{{/if}}
	</p>
	{{/each}}
	</textarea>
	<script  src="/vendor/sea/sea.js"></script>
<script src="/scripts/config/seajs-config.js"></script>
<script type="text/javascript">
	seajs.use('/scripts/controller/user/PersonalWealth');
</script>  
        <script type="text/javascript" src="/js/jquery.select.js"></script>
        <script type="text/javascript">
            $(function(){
                $('select.select').select();
            });
        </script>
</body>
</html>