<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<meta charset="UTF-8">
	<title>个人中心-个人荣誉</title>
<head th:include="/include :: user_header"></head>
<body>
<div class="topWrap"><div th:include="/include :: topWrap" ></div></div>
	<div class="data">
		<div class="content">
			<div class="tit">个人中心</div>
			<div class="cont">
				<div class="lt">
					<ul>
						<li><a href="/user/index" ><div class="ic ic1"></div><span>我的资料</span></a></li>
						<li><a href="/user/myMatch"><div class="ic ic2"></div><span>我的赛事</span></a></li>
						<li><a href="/user/BetOrder"><div class="ic ic3"></div><span>我的竞猜</span></a></li>
						<li><a href="/user/ConvertDiamondToGold"><div class="ic ic5"></div><span>货币兑换</span></a></li>
						<li><a href="/user/PersonalWealth"><div class="ic ic6"></div><span>消费记录</span></a></li>
						<li><a href="/user/UserHonor"  class="select"><div class="ic ic7"></div><span>个人荣誉</span></a></li>
						<li><a  href="/user/myWarTeam"><div class="ic ic9"></div><span>我的战队</span></a></li>				
					</ul>
				</div>
				<div class="honor">
					<div class="tit">个人荣誉</div>
					<div class="cont">
						<div class="tab clearfix" id="game_type">
							<span class="left select" name="1">王者荣耀</span>
							<span class="right" name="2">绝地求生</span>
						</div>
						<div class="details clearfix">
							<div class="img left"><img style=" width:60px;" class="timg" th:src="@{'http://p22o6bknk.bkt.clouddn.com/'+${userinfo.t.avatar}}" onerror="this.src='/images/myavatpic.png;this.onerror=null'" alt=""></div>
							<div class="info left">
								<p class="name" th:text="${userinfo.t.userName}"></p>
								<p>昵称：<span th:text="${userinfo.t.userName}"></span><span id="areaName">区服: </span><span id="gameRank">段位：最强王者</span></p>
							</div>
						</div>
						<div class="bor">我的荣誉</div>
						<div class="table" id="list_content">
							
						</div>
					</div>
					<div class="z_pager">
								<ul id="pageContainer"></ul>
							</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="botwrap"><div th:include="/include :: botwrap"></div></div>
	<textarea id="itemTemplate"  style="display:none;">
	{{each result}}
	<div class="list clearfix">
		<div class="left"><img src="/images/com_scrpic.png" alt=""> <span class="name">{{$value.matchName}}</span></div>
			<div class="right"><div class="rank"><span>{{$value.matchRanking}}</span>
			
			<img src="{{$value.matchPic}}"  style=" width:100px;" onerror="this.src='/images/rank1icon.png;this.onerror=null'"  alt="">
		
			</div></div>
			</div>
						
	{{/each}}
	</textarea>
	<script  src="/vendor/sea/sea.js"></script>
<script src="/scripts/config/seajs-config.js"></script>
<script type="text/javascript">
	seajs.use('/scripts/controller/user/userHonor');
</script>  
        <script type="text/javascript" src="/js/jquery.select.js"></script>
        <script type="text/javascript">
            $(function(){
                $('select.select').select();
            });
        </script>
</body>
</html>