/**
* CSS themes for simplePagination.js
* Author: Flavius Matis - http://flaviusmatis.github.com/
* URL: https://github.com/flaviusmatis/simplePagination.js
*/

ul.simple-pagination {
    list-style: none;
}

.simple-pagination {
    display: inline-block;
    overflow: hidden;
    padding-top: 40px;
    margin: 0;
}

.simple-pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.simple-pagination li {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    float: left;
}

/*------------------------------------*\
	Light Theme Styles
\*------------------------------------*/

.light-theme {

    display: inline;
}

.light-theme a, .light-theme span {
    background: #E1E4E9;
    float: left;
    font-size: 14px;
    line-height: 28px;
    font-weight: bold;
    text-align: center;
    min-width: 40px;
    height: 26px;
    color: #24272B;
    padding: 0 10px 0 10px;
    margin: 0 5px 0 0;
    border-radius: 5px;
}

.light-theme a:hover {
    text-decoration: none;
    background: #FCFCFC;
}

.light-theme .current {
    background: #31B8F1;
    color: #737B8E;
    cursor: default;
}

.light-theme .active .current {
    color: white;
    cursor: default;
}

.light-theme .prev {
    width: 110px;
    padding-left: 20px;
    background: #E1E4E9 url('../../images/models/show/grey-arrow-left-side.png') no-repeat 8% 45%;
}

.light-theme .next {
    padding-left: 0;
    width: 75px;
    background: #E1E4E9 url('../../images/models/show/grey-arrow-right-side.png') no-repeat 85% 42%;
}

.light-theme .ellipse {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    cursor: default;
}

.light-theme .prev:before {
    background: url('../../images/models/show/grey-arrow-right-side.png') no-repeat center;
}

.go-page {
    margin: 10px 0 0 0;
    width: 115px;
    display: inline-block
}

.go-page .form-control,
.go-page .input-group-btn button{
    height: 26px;
}

.go-page .input-group-btn button {
    border-radius: 0 5px 5px 0;
    line-height: 1px;
}

.pagination-container .form-control {
    border-radius: 4px 0 0 4px;
}
