<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div th:fragment="topWrap">
	 <div class="topcenter">
      <div class="logo">
       <h3><img src="/images/tplogo.png"></h3>
				<div class="logrigh">
					适龄提示：适合18岁以上使用
				</div>
      </div>
      <div class="nav">
       <a class="current" href="/">首页<span>HOME</span></a>
        <a href="/competition/index">赛事<span>COMPETITION</span></a>
        <a href="/message/index">资讯<span>MESSAGE</span></a>
        <a href="/live/index">直播<span>LIVE</span></a>
        <a href="/forecast/index">预测<span>FORECAST</span></a>
        <a href="#">游戏中心<span>GAME CENTER</span></a>
        <a href="/download/index">移动端<span>MOBILE</span></a>
		<a href="#">家长监护<span>CUSTODY</span></a>
      </div>
      <div class="loginr">
      
      <a  href="/loginOut" th:unless="${userinfo.t==null}">登出</a>
      <a class="current" href="#" th:unless="${userinfo.t==null}">充值</a>
      <a class="yh" href="/user/index" th:unless="${userinfo.t==null}"><img src="/images/myavatpic.png" /><span class="yhusername" th:text="${userinfo.t.userName}"></span></a>
      <a class="current" id="logi" href="/login" th:unless="${userinfo.t!=null}">登录</a> 
      </div>
    </div>
</div>

<div th:fragment="botwrap">
<div class="bottcon">
      <div class="btnav">
        <div class="dyl">
          <a class="current" href="/infos/aboutUs">关于我们</a>
          <a href="#">媒体报道</a>
          <a href="#">投资方&顾问</a>
        </div>
        <div class="dyl">
          <a href="#">工作机会</a>
          <a href="#">网站条款</a>
          <a href="#">新手指南</a>
        </div>
        <div class="dyl">
          <a href="#">我们的公众号</a>
        </div>
      </div>
      <div class="btlogo">
        <img src="/images/btlogo.png">
      </div>
    </div>
    <div class="btsafetext">
      <div class="textnav">
        <a href="#">家长监护</a>|
        <a href="#">防沉迷</a>|
        <a href="#">交易纠纷处理</a>|
        <a href="#">用户权益保障措施</a>
      </div>
      <p>健康游戏忠告: 抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</p>
      <p>指尖上行（北京）互动娱乐科技有限公司</p>
    </div>
</div>

<div th:fragment="user_header">
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link href="/css/main.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/personal.css" />	
	<script src="/js/jquery.1.11.3.min.js"></script>
	<script src="/js/bootstrap.min.js" ></script>
</div>
</body>
</html>