<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预测列表</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/zyx_forecast.css">
</head>
<body>
    <div class="topWrap">
    <div class="topcenter">
      <div class="logo">
        <img src="images/tplogo.png">
      </div>
      <div class="nav">
        <a class="current" href="#">首页<span>HOME</span></a>
        <a href="#">赛事<span>COMPETITION</span></a>
        <a href="#">资讯<span>MESSAGE</span></a>
        <a href="#">直播<span>LIVE</span></a>
        <a href="#">预测<span>FORECAST</span></a>
        <a href="#">移动端<span>MOBILE</span></a>
      </div>
      <div class="loginr">
        <a class="current" href="#">登录</a>
        <a href="#">注册</a>
      </div>
    </div>
  </div>

  <div class="contwrap">
 <div class="z_container">
   <div class="z_container_content">
      <div class="left z_forecast_nav">
       <ul>
          <li><a href="javascript:void(0)" class="active">全部游戏</a></li>
          <li><a href="javascript:void(0)">王者荣耀</a></li>
          <li><a href="javascript:void(0)">绝地求生</a></li>
          <li><a href="javascript:void(0)">英雄联盟</a></li>
       </ul>
      </div>
      <div class="right z_forecast_con">
         <div class="z_forecast_con_wrap">
           <div class="z_forecast_list">
                <div class="z_list_title">
                     <span class="left"><img src="images/home_money.png" alt="">金币竞猜</span>
                     <span>TI7国际邀请赛 半决赛 BO3</span>
                </div>
                <div class="z_list_con">
                  <div class="flex1">
                     <img src="images/comde_sclpic.png" alt="" width="55" height="55"><span class="imgT">Newbee</span>
                  </div>
                  <div class="flex1">
                     <h1>竞猜中</h1>
                     <small>2018年04月21号</small>
                  </div>
                  <div class="flex1">
                     <img src="images/com_scrpic.png" alt="" width="55" height="55"><span class="imgT">LGD</span>
                  </div>
                </div>
                                <ul class="z_list_ul">
                   <li>
                      <div class="flex1 text-left relative"><a href="javascript:void(0)" class="text odds">赔率：0.95</a></div>
                      <div class="flex1"> <h1 class="c999">猜胜负</h1>
                     <small>比赛中</small></div>
                     <div class="flex1 relative text-left" ><span class="text text-left odds">赔率：0.95</span></div>
                   </li>
                   <li>
                      <div class="flex1 text-left relative"><span class="bgred c_left">胜</span><span class="text odds">赔率：0.95</span></div>
                      <div class="flex1"> <h1 class="c999">第一局获胜</h1>
                     <small>已结算</small></div>
                      <div class="flex1 relative text-left" ><span class="text text-left odds">赔率：0.95</span></div>
                   </li>
                    <li>
                      <div class="flex1 text-left relative"><span class="text odds">赔率：0.95</span></div>
                      <div class="flex1"> <h1 class="cgreen">第二局获胜</h1>
                     <small>1天后</small></div>
                     <div class="flex1 relative text-left" ><span class="text text-left odds">赔率：0.95</span></div>
                   </li>
                    <li>
                      <div class="flex1 text-left relative"><span class="text odds">赔率：0.95</span></div>
                      <div class="flex1"> <h1 class="cgreen">第三局获胜</h1>
                     <small>未开始</small></div>
                     <div class="flex1 relative text-left" ><span class="text text-left odds">赔率：0.95</span></div>
                   </li>
                      <li>
                      <div class="flex1 text-left relative"><span class="text odds">赔率：0.95</span></div>
                      <div class="flex1"> <h1 class="c999">第一局10杀</h1>
                     <small>已结算</small></div>
                     <div class="flex1 relative text-left"><span class="text odds">赔率：0.95</span><span class="bgred  c_right">胜</span></div>
                   </li>
                    <li>
                      <div class="flex1 text-left relative"><span class="text odds">赔率：0.95</span></div>
                      <div class="flex1"> <h1 class="cgreen">第二局10杀</h1>
                     <small>1天后</small></div>
                     <div class="flex1 relative text-left" ><span class="text text-left odds">赔率：0.95</span></div>
                   </li>
                      <li>
                      <div class="flex1 text-left relative"><span class="text odds">赔率：0.95</span></div>
                      <div class="flex1"> <h1 class="cgreen">第三局10杀</h1>
                     <small>未开始</small></div>
                     <div class="flex1 relative text-left"><span class="text odds">赔率：0.95</span><span class="bgred  c_right">胜</span></div>
                   </li>
                </ul>
            </div>
           <div class="z_forecast_list">
                <div class="z_list_title">
                     <span class="left"><img src="images/dimandicon.png" alt="">金币竞猜</span>
                      <span>TI7国际邀请赛 半决赛 BO3</span>
                </div>
                <div class="z_list_con">
                  <div class="flex1">
                     <img src="images/comde_sclpic.png" alt="" width="55" height="55"><span class="imgT">Newbee</span>
                  </div>
                  <div class="flex1">
                     <h1>竞猜中</h1>
                     <small>2018年04月21号</small>
                  </div>
                  <div class="flex1">
                     <img src="images/com_scrpic.png" alt="" width="55" height="55"><span class="imgT">LGD</span>
                  </div>
                </div>
                <ul class="z_list_ul">
                   <li>
                      <div class="flex1 text-left relative"><span class="text odds">赔率：0.95</span></div>
                      <div class="flex1"> <h1 class="c999">猜胜负</h1>
                     <small>比赛中</small></div>
                     <div class="flex1 relative text-left" ><span class="text text-left odds">赔率：0.95</span></div>
                   </li>
                   <li>
                      <div class="flex1 text-left relative"><span class="bgred c_left">胜</span><span class="text odds">赔率：0.95</span></div>
                      <div class="flex1"> <h1 class="c999">第一局获胜</h1>
                     <small>已结算</small></div>
                      <div class="flex1 relative text-left" ><span class="text text-left odds">赔率：0.95</span></div>
                   </li>
                    <li>
                      <div class="flex1 text-left relative"><span class="text odds">赔率：0.95</span></div>
                      <div class="flex1"> <h1 class="cgreen">第二局获胜</h1>
                     <small>1天后</small></div>
                     <div class="flex1 relative text-left" ><span class="text text-left odds">赔率：0.95</span></div>
                   </li>
                    <li>
                      <div class="flex1 text-left relative"><span class="text odds">赔率：0.95</span></div>
                      <div class="flex1"> <h1 class="cgreen">第三局获胜</h1>
                     <small>未开始</small></div>
                     <div class="flex1 relative text-left" ><span class="text text-left odds">赔率：0.95</span></div>
                   </li>
                      <li>
                      <div class="flex1 text-left relative"><span class="text odds">赔率：0.95</span></div>
                      <div class="flex1"> <h1 class="c999">第一局10杀</h1>
                     <small>已结算</small></div>
                     <div class="flex1 relative text-left"><span class="text odds">赔率：0.95</span><span class="bgred  c_right">胜</span></div>
                   </li>
                    <li>
                      <div class="flex1 text-left relative"><span class="text odds">赔率：0.95</span></div>
                      <div class="flex1"> <h1 class="cgreen">第二局10杀</h1>
                     <small>1天后</small></div>
                     <div class="flex1 relative text-left" ><span class="text text-left odds">赔率：0.95</span></div>
                   </li>
                      <li>
                      <div class="flex1 text-left relative"><span class="text odds">赔率：0.95</span></div>
                      <div class="flex1"> <h1 class="cgreen">第三局10杀</h1>
                     <small>未开始</small></div>
                     <div class="flex1 relative text-left"><span class="text odds">赔率：0.95</span><span class="bgred  c_right">胜</span></div>
                   </li>
                </ul>
           </div>
              <div class="z_forecast_list">
                <div class="z_list_title">
                     <span class="left"><img src="images/home_money.png" alt="">金币竞猜</span>
                     <span>TI7国际邀请赛 半决赛 BO3</span>
                </div>
                <div class="z_list_con">
                  <div class="flex1">
                     <img src="images/comde_sclpic.png" alt="" width="55" height="55"><span class="imgT">Newbee</span>
                  </div>
                  <div class="flex1">
                     <h1>竞猜中</h1>
                     <small>2018年04月21号</small>
                  </div>
                  <div class="flex1">
                     <img src="images/com_scrpic.png" alt="" width="55" height="55"><span class="imgT">LGD</span>
                  </div>
                </div>
            </div>
               <div class="z_forecast_list">
                <div class="z_list_title">
                     <span class="left"><img src="images/home_money.png" alt="">金币竞猜</span>
                     <span>TI7国际邀请赛 半决赛 BO3</span>
                </div>
                <div class="z_list_con">
                  <div class="flex1">
                     <img src="images/comde_sclpic.png" alt="" width="55" height="55"><span class="imgT">Newbee</span>
                  </div>
                  <div class="flex1">
                     <h1>竞猜中</h1>
                     <small>2018年04月21号</small>
                  </div>
                  <div class="flex1">
                     <img src="images/com_scrpic.png" alt="" width="55" height="55"><span class="imgT">LGD</span>
                  </div>
                </div>

            </div>
               <div class="z_pager">
                  <a href="javascript:void(0)">首页</a>
                  <a href="javascript:void(0)">上一页</a>
                  <a href="javascript:void(0)" class="on">1</a>
                  <a href="javascript:void(0)">2</a>
                  <a href="javascript:void(0)">3</a>
                  <a href="javascript:void(0)">4</a>
                  <a href="javascript:void(0)">5</a>
                  <a href="javascript:void(0)">下一页</a>
                  <a href="javascript:void(0)">尾页</a>
              </div>
         </div>
      </div>
      <div class="clear"></div>
      <div class="z_models"> 
        <div class="title m-t-20">TI7国际邀请赛 半决赛 BO3</div>
        <div class="subtitle m-t-10">第二场胜利</div>
         <div class="lump">
          <div class="flex1">
              <img src="images/comde_sclpic.png" alt="" width="55" height="55"><span class="imgT">Newbee</span>
           </div>
           <div class="flex1 score">
             <span class="cred">0.89</span>
           </div>
           <div class="flex1 score">
             <span class="cgreen1">1.12</span>
           </div>
           <div class="flex1">
              <img src="images/com_scrpic.png" alt="" width="55" height="55"><span class="imgT">LGD</span>
           </div>
         </div>
         <div class="lump">
           <div class="flex1"><a href="javascript:void(0)" class="click normal">竞猜</a></div>
           <div class="flex1 ccc font18" style="line-height: 36px;margin:0px 15px">VS</div>
           <div class="flex1"><a href="javascript:void(0)" class="click">竞猜</a></div>
         </div>
         <div class="lump">
            <div class="flex1"><span class="click normal">100</span></div>
            <div class="flex1" style="margin:0px 15px"><span class="click">500</span></div>
            <div class="flex1"><span class="click ">1000</span></div>
         </div>
         <div class="lump m-t-10">
             <input type="text" placeholder="输入投注额度">
         </div>
          <div class="lump m-t-5">
            <span class="font15 c999">可用额度：<img src="images/dimandicon.png" width="15" alt="">   200</span>
         </div>
         <div class="lump m-t-5">
            <span class="font15 c999">预估收益：<img src="images/dimandicon.png" width="15" alt="">   89</span>
         </div>
         <div class="lump m-t-10">
               <input type="button" value="确定">
         </div>
      </div>
   </div>
 </div>
</div>


  <div class="botwrap">
    <div class="bottcon">
      <div class="btnav">
        <div class="dyl">
          <a class="current" href="#">关于我们</a>
          <a href="#">媒体报道</a>
          <a href="#">投资方&顾问</a>
        </div>
        <div class="dyl">
          <a href="#">工作机会</a>
          <a href="#">网站条款</a>
          <a href="#">新手指南</a>
        </div>
        <div class="dyl">
          <a href="#">我们的公众号</a>
        </div>
      </div>
      <div class="btlogo">
        <img src="images/btlogo.png">
      </div>
    </div>
    <div class="btsafetext">
      <div class="textnav">
        <a href="#">家长监护</a>|
        <a href="#">防沉迷</a>|
        <a href="#">交易纠纷处理</a>|
        <a href="#">用户权益保障措施</a>
      </div>
      <p>健康游戏忠告: 抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</p>
      <p>指尖上行（北京）互动娱乐科技有限公司</p>
    </div>
  </div>
     <script src="js/jquery.1.11.3.min.js"></script>
    <script src="layer/layer.js"></script>
 <script>
   $(function(){
       $('.z_forecast_nav li a').click(function(){
              $('.z_forecast_nav li a').removeClass("active");
              $(this).addClass("active");
       });
       $('.z_list_con').click(function(){
              $('.z_forecast_list .z_list_ul').slideUp();
              $(this).parent().find(".z_list_ul").slideDown();
       })
         $('.z_pager a').click(function(){
              $('.z_pager a').removeClass("on");
              $(this).addClass("on");

       });
           //赔率点击显示弹出框
         $('.odds').click(function(){
             layer.open({
                type: 1,
                title:false,
                shadeClose:true,
                shade:0.5,
                closeBtn:0,
                area: ['390px', '500px'], //宽高
                content:$('.z_models')
             })
       });
         //弹出框选择操作效果
         $(".click").click(function(){
              $(this).parents(".lump").find(".click").removeClass("normal");
              $(this).addClass("normal")
         })
   })
 </script>
</body>
</html>