<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>视频直播</title>
  
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/zyx_forecast.css">
    <link rel="stylesheet" href="/css/idangerous.swiper2.7.6.css">
    <link rel="stylesheet" href="/css/swiper.min.css">
</head>
<script>
    window.onload = function(){
        $(".nav a").each(function(){
            $(this).removeAttr('class');
        });
        $(".nav a").eq(3).attr("class","current");
    }
</script>
<body>

<div class="topWrap">
    <div th:include="/include :: topWrap"></div>
</div>

<div class="contwrap">
    <div class="z_container">
        <div class="z_container_content">
            <!-- 幻灯片 -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/images/video_banner.png" alt=""></div>
                    <div class="swiper-slide"><img src="/images/video_banner.png" alt=""></div>
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
            </div>
            <div class="z_Video">
                <div class="z_panel">
                    <div id="title_list" class="z_panel_title">
                     
                    </div>
             
                    <div class="z_panel_con">
                        <div class="z_all">
                         <ul class="z_Video_list" id="live_list">
                         </ul>
                        </div>
                         <div class="z_pager">
                 <ul id="pageContainer"></ul>
               </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 尾部 -->
<div class="botwrap" th:include="/include :: botwrap"></div>

<div style="display: none;">
    <!-- 直播列表模板 -->
    <textarea id="liveList_template">
  
            {{each result}}
            <li>
                <a href="/live/detail/{{$value.id}}">
                    <div class="z_Video_con"><img class="z_Video_con" src="{{$value.liveImg}}"></div>
                    <div class="z_shade"></div>
                    <h1 class="z_Video_con_title">{{$value.name}}</h1>
                    <div class="z_Video_con_subtitle">
                        <span>{{$value.anchorName}}</span>
                        <span class="right"><img src="/images/eyesicon.png">{{$value.viewNum}}</span>
                    </div>
                </a>
            </li>
            {{/each}}
     
  	</textarea>
</div>

<textarea id="titleTemplate" style="display:none;">
     <span class="active center"><img src="/images/news_gamepic01.png" alt="">全部直播</span>
    {{each result }}
     <span><img src="/images/news_gamepic01.png" alt="{{$value.id}}">{{$value.channelName}}</span>
    {{/each}}
     <div class="search_div">
                <div class="search_input">
                    <input id="contentKey" type="text" placeholder="请输入搜素关键字"/>
                    <button id="searchMessage"><img src="/images/news_searchicon.png"/></button>
                </div>
            </div>
<!--   <input type="text" class="z_search right" id="search_live_btn" placeholder="WCG主舞台"> 
   <button id="searchMessage" class=""><img src="/images/news_searchicon.png"/></button> -->
</textarea>

</body>
 <script src="/js/jquery.1.11.3.min.js"></script>
     <script src="/js/idangerous.swiper2.7.6.min.js"></script>
     <script>
      var mySwiper = new Swiper ('.swiper-container', {
           autoplay: 50000,//5秒切换
          autoTime: 5000,
          loop:true,//循环
          mode:'horizontal',//水平
          pagination : '.swiper-pagination',
         paginationClickable :true,
      })
  </script>
<script  src="/vendor/sea/sea.js"></script>
<script src="/scripts/config/seajs-config.js"></script>
<script>
    seajs.use('/scripts/controller/live/index');
</script>

</html>