<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>资讯</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7//css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <!--<link rel="stylesheet" type="text/css" href="/css/idangerous.swiper2.7.6.css"/>	-->
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css"/>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/ling.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/personal.css">
    <link rel="stylesheet" href="/css/page.css">
    <script src="/js/jquery.1.11.3.min.js"></script>
</head>
<body>
<div class="topWrap">
    <div class="topcenter">
        <div class="logo">
            <img src="/images/tplogo.png">
        </div>
        <div class="nav">
            <a class="current" href="#">首页<span>HOME</span></a>
            <a href="#">赛事<span>COMPETITION</span></a>
            <a href="#">资讯<span>MESSAGE</span></a>
            <a href="#">直播<span>LIVE</span></a>
            <a href="#">预测<span>FORECAST</span></a>
            <a href="#">移动端<span>MOBILE</span></a>
        </div>
        <div class="loginr">
            <a class="current" href="#">登录</a>
            <a href="#">注册</a>
        </div>
    </div>
</div>


<div class="contwrap">
    <div class="wid_1100 passage_detail">
        <div class="head_title  bg-black p-t-20 p_both20">
            <h4 class="font20 color-fff" th:text="${value.informationName}"></h4>
            <p class="l-h-40 "><span class="m-r-25 color-999" th:text="${value.updateTime}"></span><em><img src="/images/eyesicon.png"/><i
                    class="m-l-10 color-999">32144</i></em></p>

        </div>
        <div class="edit_box bg-gray pad20">
            <p th:text="${value.content}"></p>
            <p><img th:src="${value.pictureUrl}"/></p>
            <p th:text="${value.content}"></p>

        </div>
        <div class="share_div text-center bg-gray">
            分享: <span><i><img src="/images/qq.png"/></i><i><img src="/images/wechat.png"/></i><i><img
                src="/images/sina.png"/></i></span>
        </div>


    </div>
</div>


<div class="botwrap">
    <div class="bottcon">
        <div class="btnav">
            <div class="dyl">
                <a class="current" href="#">关于我们</a>
                <a href="#">媒体报道</a>
                <a href="#">投资方&顾问</a>
            </div>
            <div class="dyl">
                <a href="#">工作机会</a>
                <a href="#">网站条款</a>
                <a href="#">新手指南</a>
            </div>
            <div class="dyl">
                <a href="#">我们的公众号</a>
            </div>
        </div>
        <div class="btlogo">
            <img src="/images/btlogo.png">
        </div>
    </div>
    <div class="btsafetext">
        <div class="textnav">
            <a href="#">家长监护</a>|
            <a href="#">防沉迷</a>|
            <a href="#">交易纠纷处理</a>|
            <a href="#">用户权益保障措施</a>
        </div>
        <p>健康游戏忠告: 抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</p>
        <p>指尖上行（北京）互动娱乐科技有限公司</p>
    </div>
</div>

<!--<script src="/js/idangerous.swiper2.7.6.min.js"></script>-->
<script src="/js/swiper.min.js"></script>
<script src="/js/con_js.6.23.js"></script>
<script>
    $(".saishi_nav .nav").each(function () {
        var num = $(".saishi_nav .nav").length;
        $(this)[0].style.width = 100 / num + "%"
    })
    $(".saishi_nav .nav").click(function () {

        $(this).addClass("active").siblings().removeClass("active");
    })

    $(".fenye a").click(function () {
        $(this).addClass("active").siblings().removeClass("active");

    })


    //	var mySwiper = new Swiper('.swiper-container', {
    //		autoplayDisableOnInteraction:false,
    //		pagination:".swiper-pagination",
    //		loop:true,
    //
    //
    //
    //	})
</script>


</body>
</html>