
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>赛事详情</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="zh-CN">
<meta name="Keywords" content="">
<meta name="Description" content="">
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>	
<link rel="stylesheet" type="text/css" href="/css/swiper.min.css"/>
<link href="/css/main.css" rel="stylesheet">
<link rel="stylesheet" href="/css/page.css">
<script src="/js/jquery.1.11.3.min.js"></script>
</head>

<body>
    <!-- 导航 -->
	<div class="topWrap">
		<div class="topcenter">
			<div class="logo">
				<img src="/images/tplogo.png">
			</div>
			<div class="nav">
				<a class="current" href="#">首页<span>HOME</span></a>
				<a href="#">赛事<span>COMPETITION</span></a>
				<a href="#">资讯<span>MESSAGE</span></a>
				<a href="#">直播<span>LIVE</span></a>
				<a href="#">预测<span>FORECAST</span></a>
				<a href="#">移动端<span>MOBILE</span></a>
			</div>
			<div class="loginr">
				<a class="current" href="#">登录</a>
				<a href="#">注册</a>
			</div>
		</div>
	</div>

	<!-- 主体 -->
	<div class="contwrap">
		<div class="main_content">
			<div class="pege_nav bg-black font0 text-center font18 ">
				<a  href="page1"><p>赛事首页</p></a>
				<a class="leftBorder"  href="page2"><p>赛事介绍</p></a>
				<a class="leftBorder" href="page3"><p>赛程图</p></a>
				<a class="leftBorder" href="page4"><p>比赛奖励</p></a>
				<a class="leftBorder" href="page5"><p>赛事进程</p></a>
				<a class="leftBorder" href="page6"><p>我要报名<span>(20钻石/1次)</span><i><img src="/images/hoticon.png"/></i></p></a>
			</div>
			<div class="saishi_jianjie bg-black m-t-15">
				<div class="mianbaoxie color-glod">
					<span>赛事</span><i class="fa fa-angle-right m_both5"></i><span th:text="${competition.matchName}"> </span>
				</div>
				<div class="detail bg-gray overflow_hide">
					<div class="img">
						<img src="/images/detail1.jpg"/>
					</div>
					<div class="content">
						<h4 class="font24 color-glod" th:text="${competition.matchName}"></h4>
						<p class="color-glod m-b-10"><span>总奖金:<i >****2000钻石</i></span><span>参赛人数(**):<i th:text="${competition.minSize}">1354</i>人</span></p>
						<p class="color-glod"><span>开始时间:<i th:text="${#calendars.format(competition.startTime,'yyyy年MM月 dd日')}"></i></span><span>结束时间:<i th:text="${#calendars.format(competition.startTime,'yyyy年MM月 dd日')}"></i></span></p>
					</div>
				</div>
			</div>
			
			<div class="saishi_jianjie bg-black m-t-15">
				<div class="mianbaoxie color-glod">
					<b class="yuandian  m-r-15 inline_div vertical_mid"><img src="/images/yellowdot.png" class="block"/></b><span>赛事介绍</span>
				</div>
				<div class="detail bg-gray overflow_hide">
					<p class="font16 color-ccc"  th:utext="${competition.matchIntroduce}"></p>
				</div>
			</div>
			<div class="saishi_jianjie bg-black m-t-15">
				<div class="mianbaoxie color-glod">
					<b class="yuandian  m-r-15 inline_div vertical_mid"><img src="/images/yellowdot.png" class="block"/></b><span>赛程表</span>
				</div>
				<div class="saichengbiao">
					<img src="/images/jiangsai1.jpg"/>
<!-- 					<img  th:src="@{${competition.matchPoster }}"/> -->
				</div>
			</div>
			
			<div class="saishi_jianjie bg-black m-t-15">
				<div class="mianbaoxie color-glod">
					<b class="yuandian  m-r-15 inline_div vertical_mid"><img src="/images/yellowdot.png" class="block"/></b><span>比赛奖励</span>
				</div>
				<div class="jiangli bg-gray relative ">
					<button class="left_btn changeBth" ><img src="/images/leftBtn.png"/></button>
					<button class="right_btn changeBth" ><img src="/images/rightBtn.png"/></button>
					<div class="jianli_list swiper-container">
						<div class="swiper-wrapper">
							 <div class="jianli_item text-center swiper-slide">
								<div class="name" th:each="prize:${competition.matchPrize}">
									<span class="color-orange font24" th:text="${prize.ranking}">冠军</span>
									<p><img src="/images/dimandicon.png"><span th:text="${prize.awardContent}"></span><span th:text="${prize.awardType}"></span></p>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
			<div class="saishi_jianjie bg-black m-t-15">
				<div class="mianbaoxie color-glod">
					<b class="yuandian  m-r-15 inline_div vertical_mid"><img src="/images/yellowdot.png" class="block"/></b><span>赛事介绍</span>
				</div>
				<div class="saishi_process font0 bg-gray">
					<div class="process_item active">
						第一轮
						
					</div>
					<div class="process_item">
						第二轮
						
					</div>
					<div class="process_item">
						第三轮
						
					</div>
					<div class="process_item">
						第四轮
						
					</div>
					<div class="process_item">
						第五轮
						
					</div>
					<div class="process_item">
						第六轮
						
					</div>
				</div>
				<div class="jiangli bg-gray relative p-v-30">
					<button class="left_btn changeBth" ><img src="/images/leftBtn.png"/></button>
					<button class="right_btn changeBth" ><img src="/images/rightBtn.png"/></button>
					<div class="jianli_list swiper-container2">
						<div class="swiper-wrapper">
								<div class="jianli_item text-center swiper-slide font0 text-left">
									  <div class="saishi_status  bg-black radius6">
									  	  <div class="status_con  p-v-5 overflow_hide p-l-15 p-r-5">
									  	  	<span class="fl color-999 l-h-25">2018-5-20</span>
									  	  	<b class="fr color-fff  p_both10 radius4 l-h-25 font12 runing">正在进行</b>
									  	  </div>
									  	  <div class="status_detail font0">
									  	  	  <div class="team">
									  	  	  	  <div class="img">
									  	  	  	  	<img src="/images/comde_sclpic.png" />
									  	  	  	  </div>
									  	  	  	  <p>LLJHG</p>
									  	  	  </div>
									  	  	   <span class="score"><i>3</i><b class="m_both10">:</b><i>2</i></span>
									  	  	  <div class="team">
									  	  	  	  <div class="img">
									  	  	  	  	<img src="/images/com_scrpic.png" />
									  	  	  	  </div>
									  	  	  	  <p>LLJHG</p>
									  	  	  </div>
									  	  </div>
									  </div>
									  <div class="saishi_status  bg-black radius6">
									  	  <div class="status_con  p-v-5 overflow_hide p-l-15 p-r-5">
									  	  	<span class="fl color-999 l-h-25">2018-5-20</span>
									  	  	<b class="fr color-fff  p_both10 radius4 l-h-25 font12 runing">正在进行</b>
									  	  </div>
									  	  <div class="status_detail font0">
									  	  	  <div class="team">
									  	  	  	  <div class="img">
									  	  	  	  	<img src="/images/comde_sclpic.png" />
									  	  	  	  </div>
									  	  	  	  <p>LLJHG</p>
									  	  	  </div>
									  	  	   <span class="score"><i>3</i><b class="m_both10">:</b><i>2</i></span>
									  	  	  <div class="team">
									  	  	  	  <div class="img">
									  	  	  	  	<img src="/images/com_scrpic.png" />
									  	  	  	  </div>
									  	  	  	  <p>LLJHG</p>
									  	  	  </div>
									  	  </div>
									  </div>
									  <div class="saishi_status  bg-black radius6">
									  	  <div class="status_con  p-v-5 overflow_hide p-l-15 p-r-5">
									  	  	<span class="fl color-999 l-h-25">2018-5-20</span>
									  	  	<b class="fr color-fff  p_both10 radius4 l-h-25 font12 end">已结束</b>
									  	  </div>
									  	  <div class="status_detail font0">
									  	  	  <div class="team">
									  	  	  	  <div class="img">
									  	  	  	  	<img src="/images/comde_sclpic.png" />
									  	  	  	  </div>
									  	  	  	  <p>LLJHG</p>
									  	  	  </div>
									  	  	   <span class="score"><i>3</i><b class="m_both10">:</b><i>2</i></span>
									  	  	  <div class="team">
									  	  	  	  <div class="img">
									  	  	  	  	<img src="/images/com_scrpic.png" />
									  	  	  	  </div>
									  	  	  	  <p>LLJHG</p>
									  	  	  </div>
									  	  </div>
									  </div>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="mengbanDiv show">
		<div class="baomingPay">
			<div class="pay_con">
				<span class="fl">赛事</span><p class="fr">英雄联盟总决赛</p>
			</div>
			<div class="pay_con">
				<span class="fl">赛区</span><p class="fr">手Q大区</p>
			</div>
			<div class="pay_con">
				<span class="fl">报名费</span><p class="fr">20钻石</p>
			</div>
			<div class="alertCon m-b-15 l-h-40 font12 overflow_hide">
				<span class="fl"><img src="/images/gantanhao1.png"/>没有绑定该游戏账号</span>
				<a class="fr" href="javascript">立即绑定</a>
			</div>
			<div class="alertCon m-b-15 l-h-40 font12 overflow_hide">
				<span class="fl"><img src="/images/gantanhao1.png"/>钻石/金币不足</span>
				<a class="fr color-red" href="javascript" >立即充值</a>
			</div>
			<div class="pay_do ">
				<span class="cancel fl">取消支付</span>
				<a class="pay fr">支付</a>
			</div>
		</div>
	</div>
	
	<!-- 尾部 -->
	<div class="botwrap">
		<div class="bottcon">
			<div class="btnav">
				<div class="dyl">
					<a class="current" href="#">关于我们</a>
					<a href="#">媒体报道</a>
					<a href="#">投资方&顾问</a>
				</div>
				<div class="dyl">
					<a href="#">工作机会</a>
					<a href="#">网站条款</a>
					<a href="#">新手指南</a>
				</div>
				<div class="dyl">
					<a href="#">我们的公众号</a>
				</div>
			</div>
			<div class="btlogo">
				<img src="/images/btlogo.png">
			</div>
		</div>
		<div class="btsafetext">
			<div class="textnav">
				<a href="#">家长监护</a>|
				<a href="#">防沉迷</a>|
				<a href="#">交易纠纷处理</a>|
				<a href="#">用户权益保障措施</a>
			</div>
			<p>健康游戏忠告: 抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</p>
			<p>指尖上行（北京）互动娱乐科技有限公司</p>
		</div>
	</div>
</body>

<script src="/js/swiper.min.js"></script>
<script src="/js/con_js.6.23.js"></script>
<script>
	$(".saishi_process .process_item").each(function(){
		var num=$(".saishi_process .process_item").length;
		$(this)[0].style.width=100/num+"%"	
	})
	$(".saishi_process .process_item").click(function(){
		$(this).addClass("active").siblings().removeClass("active");
		
	})
	//关闭蒙版层
	$(".pay_do .cancel").click(function(){
		
		$(".mengbanDiv").removeClass("show")
	})
	$(".pay_do .cancel").click();
</script>
</html>